@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Grandstander:wght@100&family=Nova+Square&family=Orbitron&family=Passero+One&family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Triangles&family=Russo+One&family=Space+Grotesk&family=Teko:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

* {
  font-family: "Grandstander", "sans-serif";
}

.navi:hover {
  color: yellow !important;
  font-weight: bold;
}
